/*
	========================
	Login Section
	========================
*/

#login{
	padding: 40px 0;
	.card{
		border-radius: 0;
		border: 0;
		background-color: #f5f5f5;
		box-shadow: 1px -1px 9px 2px #ddd;
	}
}