/*
	========================
	ALL Nav Section
	========================
*/
#header-menu{
	position: relative;
	background: #f3f3f3;
}
.gs_right_menu{
	.fa-bars{
		display: none;
	}
}
nav{
	li{
		a{
			&:hover{
				color: $brand_two;
			}
		}
	}
	.logo{
		position: absolute;
	    top: 50%;
	    left: 15px;
	    transform: translateY(-50%);
		img{
			width: 100px;
		}
	}

	.gs-product-box,
	img{
		width: 250px;
	}

	.show-maga{
		left: 0;
		margin: 0 0;
	}
	.gs-inner-ul{
		position: static !important;
		display: block !important;
	}

	.submenu-main-title{
		font-size: 14px;
		text-transform: uppercase;
		padding: 10px 0;
		margin-bottom: 20px;
		border-bottom: 1px solid #dcdcdc;
	}
	.submenu-cat-title{
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;
	}
	.submenu-links{
		padding: 0 !important;
		margin: 15px 0 !important;
		color: #777 !important;
		&:hover{
			color: $brand_two !important;
		}
	}
	.submenu-link-box{
		width: 250px;
		// width: 300px;
	}

	.gs-product-box{
		&:hover{
			transform: translateY(0px);
		}
	}
	.gs-product-img{
		a{
			padding: 15px;
			padding-right: 15px !important;
		}
	}
}

.stellarnav{
	text-align: right;
	padding: 0 15px;
}

.gs-shop-card{
	display: inline-block;
}

.stellarnav>ul>li.drop-left>ul{
	right: auto;
}
.stellarnav.mobile.right>ul{
	z-index: 10;
}
.stellarnav.mobile ul,
.stellarnav ul ul{
	background: #f3f3f3;
}
.stellarnav>ul>li>a{
	padding: 20px 10px;
}



/*
	==============================
	Create Fullscreen Maga Menu 1
	==============================
*/

.gs-fullscreen-maga-menu{
	position: relative;
	h3 {
	    color: #e9e9e9;
	    text-align: center;
	    margin: 0;
	    padding: 10px 0 0;
	}

	h4 {
	    color: #333;
	    text-align: center;
	    margin: 0;
	    padding: 10px 0 0;
	}

	a {
	    text-decoration: none;
	    -webkit-transition: all .3s ease;
	    -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	    -o-transition: all .3s ease;
	    transition: all .3s ease;
	}
	/* OPEN / CLOSE BTNS */
	.menu-btn {
	    // position: absolute;
	    // top: 6px;
	    // right: 20px;
	    z-index: 999;
	    display: inline;
	    font-size: 32px;
	}
	.menu-btn a {
	    display: inline-block;
	    text-decoration: none;
	    /* safari hack */
	}
	.btn-open:after {
	    color: #333;
	    content: "\f394";
	    font-family: "Ionicons";
	    -webkit-transition: all .2s linear 0s;
	    -moz-transition: all .2s linear 0s;
	    -o-transition: all .2s linear 0s;
	    transition-property: all .2s linear 0s;
	}
	.btn-open:hover:after {
	    color: #34B484;
	}
	.btn-close:after {
	    color: #fff;
	    content: "\f2d7";
	    font-family: "Ionicons";
	    -webkit-transition: all .2s linear 0s;
	    -moz-transition: all .2s linear 0s;
	    -o-transition: all .2s linear 0s;
	    transition-property: all .2s linear 0s;
	}
	.btn-close:hover:after {
	    color: #34B484;
	}
	/* OVERLAY */
	.overlay {
	    position: fixed;
	    top: 0;
	    z-index: 99;
	    display: none;
	    overflow: auto;
	    width: 100%;
	    height: 100%;
	    background: #333;
	}
	.overlay .menu {
	    margin: 10% auto;
	    width: 80%;
	}
	.overlay .menu ul {
	    margin: 0;
	    padding: 0;
	    width: 100%;
	}
	.overlay .menu ul li {
	    float: left;
	    padding: 20px 0;
	    width: 25%;
	    list-style: none;
	    text-align: center;
	    text-transform: uppercase;
	}
	.overlay .menu ul li a {
	    color: #34B484;
	    font-weight: bold;
	    font-size: 20px;
	}
	.overlay .menu ul ul {
	    margin-top: 50px;
	}
	.overlay .menu ul ul li {
	    position: relative;
	    float: none;
	    margin: 0;
	    width: 100%;
	    border: 0;
	}
	.overlay .menu ul ul li a {
	    color: #fff;
	    text-transform: capitalize;
	    font-weight: bold;
	    font-size: 14px;
	}
	.overlay .menu ul ul li a:hover {
	    color: #34b484;
	}
	.allexamples{
	  position:absolute;
	  bottom:0;
	  font-size:18px;
	  font-weight:bold;
	  width:100%;
	  text-align:center;
	  background:#e9e9e9;
	  padding:20px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  color:#333;
	  position:fixed;
	} 
	.gs-fl-menu-close{
		color: $white;
		font-size: 30px;
		position: absolute;
		right: 20px;
		top: 20px;
	}
}
/* RESPONSIVE */
@media screen and (max-width: 768px) {
	.gs-fullscreen-maga-menu{
	    .overlay .menu ul li {
	        float: none;
	        margin-bottom: 50px;
	        width: 100%;
	        border-bottom: 1px solid #575757;
	    }
	    .overlay .menu ul li:last-child {
	        border: 0;
	    }
	    .overlay .menu ul ul {
	        margin-top: 20px;
	    }
	    .menu-btn {
	        right: 25px;
	    }
	}

	// .pushy{
	// 	width: 100%;
	// 	background: rgba(25, 25, 24, 0.90)
	// }

	.stellarnav.mobile.left>ul, .stellarnav.mobile.right>ul{
	    max-width: 100%;
	    background: rgba(255, 255, 255, 0.90);
	}
	.stellarnav.mobile ul, .stellarnav ul ul{
		background: transparent;
	}
	
	.pushy,
	.stellarnav.mobile>ul>li>a{
	    font-weight: 600;
	}
}

/*
	========================
	Create Fullscreen Menu
	========================
*/
.gs-fullscreen-menu{
	.menu-logo{
		width: 150px;
		margin: 0 auto;
	}
	.gs-fl-menu-close{
		color: $text;
		font-size: 30px;
		position: absolute;
		right: 20px;
		top: 20px;
	}

	h3 {
	    color: #e9e9e9;
	    text-align: center;
	    margin: 0;
	    padding: 10px 0 0;
	}

	h4 {
	    color: #333;
	    text-align: center;
	    margin: 0;
	    padding: 10px 0 0;
	}

	a {
	    text-decoration: none;
	    -webkit-transition: all .3s ease;
	    -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	    -o-transition: all .3s ease;
	    transition: all .3s ease;
	}
	/* OPEN / CLOSE BTNS */
	.menu-btn {
	    position: absolute;
	    top: 6px;
	    right: 20px;
	    z-index: 999;
	    display: inline;
	    font-size: 32px;
	}
	.menu-btn a {
	    display: inline-block;
	    text-decoration: none;
	    /* safari hack */
	}
	.btn-open:after {
	    color: #333;
	    content: "\f394";
	    font-family: "Ionicons";
	    -webkit-transition: all .2s linear 0s;
	    -moz-transition: all .2s linear 0s;
	    -o-transition: all .2s linear 0s;
	    transition-property: all .2s linear 0s;
	}
	.btn-open:hover:after {
	    color: #34B484;
	}
	.btn-close:after {
	    color: #fff;
	    content: "\f2d7";
	    font-family: "Ionicons";
	    -webkit-transition: all .2s linear 0s;
	    -moz-transition: all .2s linear 0s;
	    -o-transition: all .2s linear 0s;
	    transition-property: all .2s linear 0s;
	}
	.btn-close:hover:after {
	    color: #34B484;
	}
	/* OVERLAY */
	.overlay {
	    position: fixed;
	    top: 0;
	    z-index: 99;
	    display: none;
	    overflow: auto;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    height: 100%;
	    background: $white;
	    opacity: 0.85;
	}
	.menu {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
	.menu ul {
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    height: 100%;
	}
	.menu li {
	    display: table;
	    margin: 0;
	    padding: 10px 0;
	    width: 100%;
	    // height: 15%;
	    list-style: none;
	    text-align: center;
	    -webkit-transition: all .2s linear 0s;
	    -moz-transition: all .2s linear 0s;
	    -o-transition: all .2s linear 0s;
	    transition-property: all .2s linear 0s;
	}
	.menu li a {
	    display: table-cell;
	    color: $text;
	    font-weight: 600;
	    vertical-align: middle;
	}
	.menu li a:hover {
	    color: $brand_one;
	}
	/* RESPONSIVE */
	@media screen and (max-width: 768px) {
	    .menu-btn {
	        right: 25px;
	    }
	}

	.allexamples{
	  position:absolute;
	  bottom:0;
	  font-size:18px;
	  font-weight:bold;
	  width:100%;
	  text-align:center;
	  background:#e9e9e9;
	  padding:20px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  color:#333;
	  position:fixed;
	} 
}


/*
	========================
	Left Sticky Menu
	========================
*/
.leftSticky-menu{
	position: relative;
	li{
		text-align: center;
		&:hover{
			.gs-sub-menu-list,
			.gs-sub-menu{
				top: -50%;
				opacity: 1;
				visibility: visible;
				z-index: 10;
			}

			.gs-sub-menu-list{
			    min-width: 200px;
			}
		}
	}
	a{
		color: $white;
		padding: 10px 15px;
	    display: block;
	    &:hover{
	    	color: $white;
	    	background: $brand_one;
	    }
	}

	.gs-sub-menu{
		li{
			text-align: left;
		}
	}

	.submenu-main-title,
	.submenu-cat-title,
	.submenu-content-box{
		color: $white;
	}

	.gs-sub-menu-list,
	.gs-sub-menu{
		position: absolute;
		top: -30%;
		right: 0;
		transform: translateX(100%);
		background: $brand_two;
		transition: 0.5s;
		z-index: -10;

		opacity: 0;
		visibility: hidden;

		a{
			background: transparent;
			&:hover{
				color: $brand_one;
			}
		}
	}

	.gs-sub-menu-list{
		a{
			color: $white !important;
			min-width: 200px;
		    margin: 0 !important;
		    padding: 15px !important;
		    &:hover{
		    	color: $white;
		    	background: $brand_one;
		    }
	    }
	}
	.submenu-links{
		color: $white !important;
		padding: 5px !important;
		&:hover{
			color: $white !important;
			background: $brand_one !important;
		}
	}
}



/*******************************************/
// Large devices (desktops, less than 1200px)
/********************************************/
@media (min-width: 1200px) {
	.body-right{
		#gs-maga-menu{
			display: none !important;
		}
	}
}

@media (max-width: 1199.98px) {
	.body-left{
		display: none !important;
	}
	.body-right{
		width: 100%;
		#gs-maga-menu{
			display: block !important;
		}
	}
}


/*******************************************/
// Medium devices (tablets, less than 768px)
/********************************************/
@media (max-width: 768px) {
	.stellarnav li{
		position: relative;
	}
}


/*******************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 992px) {
	.stellarnav ul{
		text-align: right;
	}

	nav {
		.submenu-main-title{
			padding-top: 15px;
		}
	}
}